<h{{ .Level }} id="{{ .Anchor }}" class="heading-{{ .Level }}">
    {{ .Text }}
    <a href="#{{ .Anchor }}" rel="noopener" aria-label="{{ .PlainText }}"
        data-clipboard="{{ .Page.Permalink }}#{{ .Anchor }}">
        <i class="icon-link"></i>
    </a>
</h{{ .Level }}>