{{ $title := .Params.seoTitle | default (print .Title " - " .Site.Title) }}
{{ if .IsHome }}
    {{ $title = .Site.Title }}
{{ end }}

{{ $keywords := delimit .Keywords "," }}

{{ $navbarTop := dict "className" "navbar-top" "ariaLabel" "Top Navbar" "items" .Site.Params.navbarTop }}
{{ $navbarTop = merge $navbarTop (dict "shortcuts" .Site.Params.shortcuts) }}
{{ $navbarMiddle := dict "className" "navbar-middle" "ariaLabel" "Middle Navbar" "items" .Site.Params.navbarMiddle }}
{{ $navbarBottom := dict "className" "navbar-bottom" "ariaLabel" "Bottom Navbar" "items" .Site.Params.navbarBottom }}

{{ $homeShortcut := .Site.Params.homeShortcut }}
{{ if eq $homeShortcut "top" }}
    {{ $navbarTop = merge $navbarTop (dict "homeLink" .Site.BaseURL) }}
{{ else if eq $homeShortcut "middle" }}
    {{ $navbarMiddle = merge $navbarMiddle (dict "homeLink" .Site.BaseURL) }}
{{ else if eq $homeShortcut "bottom" }}
    {{ $navbarBottom = merge $navbarBottom (dict "homeLink" .Site.BaseURL) }}
{{ end }}

<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    <title>{{ $title | truncate 60 }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ .Description }}">
    <meta name="keywords" content="{{ $keywords }}">

    {{ partial "schema.html" . }}
    {{ partial "opengraph.html" . }}
    {{ partial "twitter_cards.html" . }}

    {{ partial "link.html" . }}
    {{ partial "style.html" . }}
    {{ partial "script.html" . }}

    {{ if not .Site.IsServer }}
        {{ template "_internal/google_analytics.html" . }}
    {{ end }}
</head>

<body>
    <div class="container">
        <header>
            {{ partial "navbar.html" $navbarTop }}
            {{ partial "brand.html" . }}
            {{ partial "navbar.html" $navbarMiddle }}
        </header>
        {{ partial "searchbox.html" . }}
        <main>
            <div class="content">
                {{ block "main" . }}{{ end }}
            </div>
            <aside>
                {{ partial "offers.html" . }}
                {{ partial "recent-posts.html" . }}
                {{ partial "related-posts.html" . }}
                {{ partial "taxonomies.html" . }}
            </aside>
        </main>
        <footer>
            {{ partial "footer-columns.html" . }}
            {{ partial "navbar.html" $navbarBottom }}
            {{ partial "legality.html" . }}
        </footer>
    </div>
</body>

</html>