<div class="brand">
    <div>
        <a href="{{ .Site.BaseURL }}" rel="noopener">
            <h2 class="brand-title">{{ .Site.Title }}</h2>
            {{ if .Site.Params.tagline }}
            <p class="brand-tagline">{{ .Site.Params.tagline }}</p>
            {{ end }}
        </a>
    </div>
    {{ partial "leaderboard.html" . }}
</div>