{{ with .Params.leaderboard | default .Site.Params.leaderboard }}

{{ if .link }}
{{ $text := .text | default (.link | urlize) }}

<div>
    <a href="{{ .link }}" target="_blank" rel="noopener">
        {{ if .desktop }}
        <img class="desktop-only mx-auto" src="{{ .desktop }}" width="728" height="90" alt="{{ $text }}" loading="lazy">
        {{ end }}
        {{ if .mobile }}
        <img class="mobile-only mx-auto" src="{{ .mobile }}" width="320" height="50" alt="{{ $text }}" loading="lazy">
        {{ end }}
    </a>
</div>
{{ end }}
{{ end }}