<small class="legality">
    <span class="capitalize">{{ i18n "copyright" | safeHTML }}</span>
    &copy; {{ now.Format "2006" }} {{ .Site.Copyright | default .Site.Title }}
    &bull; {{ i18n "_legality-watermark_" | safeHTML }}
</small>