<link rel="canonical" href="{{ .RelPermalink }}">

{{ $favicon := .Site.Params.favicon }}
{{ if $favicon }}
    {{ range (slice 16 32 48) }}
        {{ with partial "funcs/get-image" (dict "url" $favicon "width" . "height" .) }}
            <link rel="icon" href="{{ .RelPermalink }}" type="image/webp" sizes="{{ .Width }}x{{ .Height }}">
        {{ end }}
    {{ end }}
{{ else }}
    <link rel="icon" href="{{ .Site.Params.themeUrl }}/image/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ .Site.Params.themeUrl }}/image/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="icon" href="{{ .Site.Params.themeUrl }}/image/favicon-32x32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="{{ .Site.Params.themeUrl }}/image/favicon-48x48.png" type="image/png" sizes="48x48">
{{ end }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap">
<link rel="stylesheet" href="{{ .Site.Params.themeUrl }}/main.min.css">