{{ $icons := slice "email" "phone" }}
{{ $icons = $icons | append "facebook" "instagram" "linkedin" "pinterest" "twitter" "tumblr" "youtube" }}
{{ $icons = $icons | append "bitbucket" "github" "gitlab" }}
{{ $icons = $icons | append "android" "apple" }}

{{ if or .homeLink .shortcuts .items }}
<nav class="navbar {{ .className }}" aria-label="{{ .ariaLabel }}">
    <div class="navbar-group">
        {{ if .homeLink }}
        <div class="navbar-home">
            <a
                class="navbar-link navbar-group-link"
                href="{{ .homeLink }}"
                rel="noopener"
                title="Home Icon"
                aria-label="Home Icon">
                <i class="navbar-icon icon-home"></i>
            </a>
        </div>
        {{ end }}

        {{ if .shortcuts }}
        <div>
            {{ range .shortcuts }}
            {{ if and .link .text (in $icons .icon) }}
            {{ $target := .target | default "_self" }}
            {{ $rel := .rel | default "noopener" }}
            <a
                class="navbar-link navbar-group-link"
                href="{{ .link }}"
                target="{{ $target }}"
                rel="{{ $rel }}"
                title="{{ .text }}"
                aria-label="{{ .text }}">
                <i class="navbar-icon icon-{{ .icon }}"></i>
            </a>
            {{ end }}
            {{ end }}
        </div>
        {{ end }}

        {{ if .items }}
        <div class="navbar-menu">
            <a
                class="navbar-link navbar-group-link"
                href="#"
                rel="noopener"
                title="Menu Icon"
                aria-label="Menu Icon"
                data-toggle="#{{ .className }}-toggle">
                <i class="navbar-icon icon-menu"></i>
            </a>
        </div>
        {{ end }}
    </div>

    {{ if .items }}
    <ul id="{{ .className }}-toggle" class="navbar-list">
        {{ $linkClassName := "navbar-link navbar-item-link" }}
        {{ range .items }}
        {{ $target := .target | default "_self" }}
        {{ $rel := .rel | default "noopener" }}
        <li class="navbar-item">
            <a class="{{ $linkClassName }}" href="{{ .link }}" target="{{ $target }}" rel="{{ $rel }}">{{ .text }}</a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</nav>
{{ end }}