{{ $offers := (.Params.offers | default slice) | append (.Site.Params.offers | default slice) }}

{{ if $offers }}
<div class="section section-offers aside-section">
    <div class="section-content">
        {{ range $offers }}
        {{ if and .link .image }}
        <a class="section-link group" href="{{ .link }}" target="_blank" rel="noopener">
            <img src="{{ .image }}" width="300" height="250" alt="{{ .text }}" loading="lazy">
        </a>
        {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}