{{ if .tags }}
{{ $url := .url | relLangURL }}
{{ $rel := .rel }}

<div class="section section-tags post-tags">
    <div class="section-icon"><i class="icon-{{ .icon }}"></i></div>
    <div class="section-content">
        {{ range .tags }}
        {{ if . }}
        <a class="section-link group" href="{{ $url }}{{ . | urlize }}/" rel="{{ $rel }}">{{ . }}</a>
        {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}