{{ $title := .Title }}
{{ $time := .Date.Format "January 2, 2006" }}
{{ $datetime := .Date.Format "2006-01-02 15:04:05" }}

<article class="post">
    <h1 class="post-title">{{ $title }}</h1>

    {{ if .Params.subtitle }}
    <h2 class="post-subtitle">{{ .Params.subtitle }}</h2>
    {{ end }}

    <small class="post-information">
        <i class="icon-time"></i>
        <time datetime="{{ $datetime }}">{{ $time }}</time>
    </small>

    {{ $images := partial "funcs/get-images" (dict "images" .Params.images) }}
    {{ with index $images 0 }}
        <picture class="post-thumbnail group">
        <img
            class="post-image group-hover:scale-125"
            src="{{ .RelPermalink }}"
            width="{{ .Width }}"
            height="{{ .Height }}"
            alt="{{ $title }}"
            loading="lazy">
        </picture>
    {{ end }}

    <div class="post-content">{{ .Content }}</div>

    {{ if not .Site.IsServer }}
        {{ template "_internal/disqus.html" . }}
    {{ end }}

    {{ $categories := dict "icon" "folder" "url" "categories" "rel" "categories" "tags" .Params.categories }}
    {{ partial "post-tags.html" $categories }}

    {{ $tags := dict "icon" "tag" "url" "tags" "rel" "tags" "tags" .Params.tags }}
    {{ partial "post-tags.html" $tags }}
</article>

<div class="pagenation">
    <div>
        {{ with .PrevInSection }}
        <a class="pagenation-button pagenation-previous" href="{{ .RelPermalink }}" rel="prev">
            <i class="icon-left"></i>
            {{ .Title }}
        </a>
        {{ end }}
    </div>
    <div>
        {{ with .NextInSection }}
        <a class="pagenation-button pagenation-next" href="{{ .RelPermalink }}" rel="next">
            {{ .Title }}
            <i class="icon-right"></i>
        </a>
        {{ end }}
    </div>
</div>