<section class="section section-list postlist-section">
    {{ if .title }}
    <h1 class="section-title">{{ .title }}</h1>
    {{ end }}

    {{ if .description }}
    <p class="section-description">{{ .description }}</p>
    {{ end }}

    <ul class="section-content">
        {{ range .paginate.Pages }}
        {{ $time := .Date.Format "January 2, 2006" }}
        {{ $datetime := .Date.Format "2006-01-02 15:04:05" }}
        <li class="section-item">
            <a class="section-link group" href="{{ .RelPermalink }}" rel="noopener">
                <article class="feed postlist-feed">
                    <div class="feed-content">
                        <h3 class="feed-title">{{ .Title }}</h3>

                        <small class="feed-information">
                            <i class="icon-time"></i>
                            <time datetime="{{ $datetime }}">{{ $time }}</time>
                        </small>

                        <p class="feed-description group-hover:text-black">{{ .Summary }}</p>
                    </div>
                </article>
            </a>
        </li>
        {{ end }}
    </ul>
</section>

<div class="pagenation">
    <div>
        {{ if .paginate.HasPrev }}
        <a class="pagenation-button pagenation-previous uppercase" href="{{ .paginate.Prev.URL }}" rel="prev">
            <i class="icon-left"></i>
            {{ i18n "newer" }}
        </a>
        {{ end }}
    </div>
    <div>
        {{ if .paginate.HasNext }}
        <a class="pagenation-button pagenation-next uppercase" href="{{ .paginate.Next.URL }}" rel="next">
            {{ i18n "older" }}
            <i class="icon-right"></i>
        </a>
        {{ end }}
    </div>
</div>