{{ $text := i18n "search" }}

<div class="searchbox">
    <form role="search" data-search="google">
        <div class="search-group">
            <input class="search-input" name="search" type="search" placeholder="{{ $text }}" required>
            <button class="search-button" type="submit" title="{{ $text }}" aria-label="{{ $text }}">
                <i class="icon-search"></i>
            </button>
        </div>
    </form>
</div>