<section class="section section-list {{ .className }}">
    <h2 class="section-title">{{ .title }}</h2>
    <ul class="section-content">
        {{ range .items }}
        {{ if and .link .text }}
        {{ $target := .target | default "_self" }}
        {{ $rel := .rel | default "noopener" }}
        <li class="section-item">
            <a class="section-link group" href="{{ .link }}" target="{{ $target }}" rel="{{ $rel }}">{{ .text }}</a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</section>