{{ range $taxonomy, $terms := .Site.Taxonomies }}
{{ if $terms }}

{{ $taxonomyPage := site.GetPage $taxonomy }}
{{ $sectionTitle := i18n $taxonomy | default $taxonomyPage.LinkTitle }}

<section class="section section-tags aside-section">
    <h2 class="section-title">{{ $sectionTitle }}</h2>

    <div class="section-content">
        {{ range $term, $data := $terms }}
        {{ with site.GetPage (path.Join $taxonomy $term) }}
        <a class="section-link group" href="{{ .RelPermalink }}" rel="tag">{{ .LinkTitle }}</a>
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}