{{ $images := partial "funcs/get-images" (dict "images" .Params.images) }}
{{ with index $images 0 }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ .Permalink }}">
    <meta name="twitter:image:src" content="{{ .Permalink }}">
{{ else }}
    <meta name="twitter:card" content="summary">
{{ end }}

{{ with or .Title site.Title site.Params.title | plainify }}
    <meta name="twitter:title" content="{{ . }}">
    <meta name="twitter:title:title" content="{{ . }}">
{{ end }}

{{ with or .Description .Summary site.Params.description | plainify | htmlUnescape | chomp }}
    <meta name="twitter:description" content="{{ . }}">
{{ end }}

{{- $twitterSite := "" }}
{{- with site.Params.social }}
  {{- if reflect.IsMap . }}
    {{- with .twitter }}
      {{- $content := . }}
      {{- if not (strings.HasPrefix . "@") }}
        {{- $content = printf "@%v" . }}
      {{- end }}
      <meta name="twitter:site" content="{{ $content }}">
    {{- end }}
  {{- end }}
{{- end }}
